@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Lexend+Deca:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer base {
  h1,
  h2,
  button {
    font-family: "Fraunces", serif;
  }
  body {
    font-family: "Poppins", sans-serif;
  }
  .range-custom {
    -webkit-appearance: none;
    appearance: none;
  }

  .range-custom::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }

  .range-custom::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background: #434343;
    cursor: pointer;
    box-shadow: -80px 0 0 80px var(#97b002);
  }
}
